<div class="articleButtons">
    <div id="newArticles">
        <p class = "buttonText">Display New Articles</p>

        <div class="allArticles hidden">
            {{#each stories from="0" to="10"}}
            <div data={{id}} class="storyBox">
                <div class="storyText">
                    <a href={{storyURL}} target="_blank">
                        <h2>
                            {{headline}}
                        </h2>
                    </a>
                </div>
                <i class="fas fa-bookmark"></i>
                <div class="image">
                    <p class="summary">
                        {{summary}}
                    </p>
                    <img src={{img}} alt={{id}}/>
                </div>
                <p>{{author}}</p>
                <p>{{storyDate}}</p>
            </div>
            {{/each}}
            <i class="fas fa-compress"></i>
        </div>
    </div>

    <div id="savedArticles">
        <p class="buttonText1">Display Saved Articles</p>
        <div class = "allSavedArticles">
        </div>
        <i class="fas fa-compress hidden"></i>
    </div>
    
</div>